@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.border-light {
  border: 1px solid rgba(0, 0, 0, 0.6);
}
span {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

/* input[type="file"] {
  display: none;
}

.image-upload {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.63);
  display: inline-block;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold; */
/* } */

.error-span {
  display: none;
}

.signup-input:invalid[focused="true"] ~ .error-span {
  display: block;
}
